In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import os
import pandas as pd
import time

In [2]:
#Set Executable Path & Initialize Chrome Browser
executable_path = {"executable_path": ".\chromedriver.exe"}
browser = Browser("chrome", **executable_path)

In [3]:
# Mac user
# Set Executable Path & Initialize Chrome Browser
# executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
# browser = Browser("chrome", **executable_path, headless=False)

In [4]:
# Visit Mars.nasa.Gov
nasa_url = "https://mars.nasa.gov/news/"
browser.visit(nasa_url)

In [5]:
# Parse Results HTML with BeautifulSoup
html = browser.html
soup = bs(html,"html.parser")
slide_element = soup.select_one("ul.item_list li.slide")
#scrapping infos about mars from nasa.Gov
slide_element.find("div", class_="content_title")

<div class="content_title"><a href="/news/8731/nasas-maven-observes-martian-night-sky-pulsing-in-ultraviolet-light/" target="_self">NASA's MAVEN Observes Martian Night Sky Pulsing in Ultraviolet Light</a></div>

In [6]:
# Scrape the Latest News Title
news_title = slide_element.find("div", class_="content_title").get_text()
print(news_title)

NASA's MAVEN Observes Martian Night Sky Pulsing in Ultraviolet Light

In [7]:
# Scrape the Latest Paragraph Text
news_paragraph = slide_element.find("div", class_="article_teaser_body").get_text()
print(news_paragraph)

Vast areas of the Martian night sky pulse in ultraviolet light, according to images from NASA’s MAVEN spacecraft. The results are being used to illuminate complex circulation patterns in the Martian atmosphere.

In [8]:
########### Mars  Image ################

In [33]:

 #Mars  Image scrapping
jpl_nasa_url = 'https://www.jpl.nasa.gov'
executable_path = {"executable_path": ".\chromedriver.exe"}
browser = Browser("chrome", **executable_path)
nasa_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(nasa_image)
time.sleep(1)
# Click through to full image
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(2)
browser.click_link_by_partial_text('more info')

# Scrape page into Soup
html = browser.html
soup = bs(html, 'html.parser')

In [34]:
# # Retrieve featured image link
# relative_image_path = soup.find_all('img')[3]["src"]
# featured_image_url = jpl_nasa_url + relative_image_path
# print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17323-640x350.jpg

In [35]:
# Ask Splinter to Go to Site and Click more info
# Search for image source
results = soup.find_all('figure', class_='lede')
relative_img_path = results[0].a['href']
Mars_img = 'https://www.jpl.nasa.gov' + relative_img_path
print(Mars_img)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17171_hires.jpg

In [ ]:
###### Mars Weather ########

In [36]:
# Visit the Mars Weather Twitter Account
executable_path = {"executable_path": "./chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)
twit_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twit_url)

weather_html = browser.html

weather_soup = bs(weather_html, 'html.parser')

In [37]:
# Retrieve latest tweet with Mars weather info

In [38]:
##################### Mars Facts Site #############################

In [39]:
# Visit the Mars Facts Site Using Pandas to Read
mars_facts = pd.read_html("https://space-facts.com/mars/")[0]
mars_facts=mars_facts.rename(columns={0:"Description",1:"Value"})
mars_facts

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [40]:
mars_html_table = mars_facts.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [41]:
mars_html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Description</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [ ]:
print(mars_html_table)

In [ ]:

#Mars Hemispheres

In [ ]:
# Visit the USGS Astrogeology Science Center Site
executable_path = {"executable_path": "./chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)
hem_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hem_url)

In [ ]:

   
#Create an empty list of links for the hemispheres